* {
    box-sizing: border-box;
    --linkenin-logo: #007bb5;
    --search-color: #e3dede;
    --icon-color: #313335;
    --icon-active: #000000;
    --premium-color: #9b6912;
    --body-background: #e8e2e2; 
    --navigation-background: #ffffff;
    --border-color: #0000002b;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
}

/* navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    border-bottom: 1px solid var(--border-color);
    font-size: 1.1rem;
    background-color: var(--navigation-background);
}

#left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-block: 8px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 8px 10px 7px 10px;
    border-radius: 3px;
    background-color: var(--search-color);
}

#logo {
    font-size: 3.2rem;
    color: var(--linkenin-logo);
}

#search input {
    width: 300px;
    border: none;
    font-size: 1.2rem;
    background-color: var(--search-color);
}

#search input:focus {
    outline: none;
}

#search i {
    font-size: 2rem;
}

#right {
    display: flex;
    gap: 30px;
}

.alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;   
    padding-block: 8px;
}

.alignment i {
    color: var(--icon-color);
    font-size: 2.2rem;
}

.alignment p {
    padding: 0 5px 0 5px;
    margin: 0;
}

#home {
    border-bottom: 3px solid var(--icon-active);
}

#home i {
    color: var(--icon-active);
}

#message p, #notifications p {
    margin-block: -2px;
}

#account p, #work p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: -12px;
}

#account p i, #work p i {
    font-size: 2.4rem;
}

.seperate {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    border-left: 1px solid var(--border-color);
}

#premium {
    color: var(--premium-color);
}


@media only screen and (max-width: 1600px) {
    .navigation {
        padding: 12px 25px 12px 25px;
    }

    #left {
        gap: 12px;
    }

    #search {
        background-color: #ffffff;
    }
    
    #search input {
        display: none;
    }
    
    #search i {
        font-size: 2.5rem;
    }

    .alignment p {
        display: none;
    }

    #premium p {
        display: block;
    }

    #account p, #work p {
        display: none;
    }
}