* {
    box-sizing: border-box;
    --linkenin-logo: #007bb5;
    --search-color: #e3dede;
    --icon-color: #313335;
    --icon-active: #000000;
    --premium-color: #9b6912;
    --body-background: #e8e2e2; 
    --navigation-background: #ffffff;
    --border-color: #0000002b;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
}

.app-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 2.2fr 4.5fr 3fr 100px;
    grid-template-rows: 80px 1fr repeat(4, 1fr);
    position: sticky;
    top: 0;
    gap: 20px;
}

/* navigation */
.navigation {
    grid-column: 1 / 6;
    display: flex;
    justify-content: space-between;
    padding-left: 125px;
    padding-right: 125px;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.8rem;
    background-color: var(--navigation-background);
}

#left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-block: 4px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 6px 10px 5px 10px;
    border-radius: 3px;
    margin-right: 40px;
    background-color: var(--search-color);
}

#logo {
    font-size: 2.6rem;
    color: var(--linkenin-logo);
}

#search input {
    width: 100%;
    border: none;
    font-size: 1rem;
    background-color: var(--search-color);
}

#search input:focus {
    outline: none;
}

#search i {
    font-size: 1.6rem;
}

#right {
    display: flex;
    gap: 30px;
}

.alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;   
    padding-block: 4px;
}

.alignment i {
    color: var(--icon-color);
    font-size: 1.5rem;
}

.alignment p {
    padding: 0 5px 0 5px;
    margin: 0;
}

#home {
    border-bottom: 3px solid var(--icon-active);
}

#home i {
    color: var(--icon-active);
}

#message p, #notifications p {
    margin-block: -2px;
}

#account p, #work p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: -8px;
}

#account p i, #work p i {
    font-size: 1.8rem;
}

.seperate {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    border-left: 1px solid var(--border-color);
}

#premium {
    color: var(--premium-color);
}

/* post add section */
#post-add {
    place-self: start center;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    height: fit-content;
    width: 100%;
    padding: 10px 10px 5px 10px;
    background-color: var(--navigation-background);
    border: 1px solid var(--border-color);
    border-radius: 9px;
}

#post {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex: 1 1 auto;
}

#post i {
    font-size: 3rem;
}

#write-post {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;
    padding: 10px;
    border-radius: 10rem;
    border: 1px solid var(--border-color);
}

#write-post input {
    border: none;
}

#write-post input:focus {
    outline: none;
}

#post-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#post-actions p {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-block: 8px;
}

/* user card */
#user-card {
    place-self: start end;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    max-width: 300px;
    background-color: var(--navigation-background);
    border: 1px solid var(--border-color);
    border-radius: 9px;
}

.user-cover {
    height: 80px;
    width: 100%;
    background-color: #000000;
    border-radius: 9px 9px 0 0;
}

.user {
    height: 80px;
    width: 80px;
    position: relative;
    bottom: 40px;
    background-color: #313335;
    border: 2px solid var(--navigation-background);
    border-radius: 50%;
}

#user-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

#user-title p {
    margin: 5px;
}

#connections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

#connections p {
    margin: 12px 5px 5px 5px;
}

#current-connections {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.extra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

#exclusive {
    width: 100%;
    border-top: 1px solid var(--border-color);
}

#items {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}


/* news */
#news {
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: var(--navigation-background);
    border: 1px solid var(--border-color);
    border-radius: 9px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.item p {
    margin: 0;
}

.list {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.list i {
    font-size: 0.8rem;
    font-weight: 900;
    margin-top: -15px;
}

.item > p {
    padding-left: 19px;
}

.show-more {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: -30px;
}