* {
    --search-color: #d3d3d3;
    --icon-active: #000000;
    --body-background: #e8e2e2; 
    --navigation-background: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
}

/* navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 12px 20px;
    border-bottom: 1px solid #0000002b;
    font-size: 1.3rem;
    background-color: var(--navigation-background);
}

#left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
    background-color: var(--search-color);
}

#logo {
    font-size: 4rem;
}

#search input {
    width: 300px;
    border: none;
    font-size: 1.5rem;
    background-color: var(--search-color);
}

#search i {
    font-size: 2.6rem;
}

#right {
    display: flex;
    gap: 30px;
}

.alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;   
}

.alignment i {
    font-size: 3.2rem;
}

.alignment p {
    padding: 0 5px 0 5px;
    margin: 0;
}

#home {
    border-bottom: 3px solid var(--icon-active);
}

@media only screen and (max-width: 1200px) {
    #left {
        gap: 12px;
    }

    #search {
        background-color: #ffffff;
    }
    
    #search input {
        display: none;
    }
    
    #search i {
        font-size: 3.2rem;
    }

    .alignment p {
        display: none;
    }

    #premium p {
        display: block;
    }
}